body {
  background-color: #ffff;
  background-attachment: fixed;
  background-size: cover;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.card {
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.4);
}

#card-grid {
  padding-top: 10px;
}