body {
  background-color: #ffff;
  background-attachment: fixed;
  background-size: cover;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.card {
  box-shadow: 6px 9px 20px 5px rgba(0, 0, 0, 0.6);
}

#card-grid {
  padding-top: 10px;
}