.card {
    padding: 2px;
}

.card p:nth-last-child(1) {
    font-size: 1.1rem;
}

.card-image .card-title {
    font-family: "Roboto", monospace;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin-left: calc(50% - 154.11px / 2);
    margin-bottom: calc(50% - 84px);
}

.card > span {
    position: absolute;
    right: 2px;
    margin: -9px -9px 0px 0px;
    z-index: 1;
}

.card.spotlight {
    border: 2px solid #64dd17;
    box-shadow: 0px 0px 0px 2px #64dd17;
    padding: 0px;
}

.card-image span {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
}

img.spotlight {
    filter: blur(1.2px);
}

.card-image span:hover {
    width: 72px;
    height: 72px;
}

.card-image span:hover > i {
    transition: font-size 0.8s;
    font-size: 2.2rem;
}

strong:hover {
    font-weight: bold;
    text-decoration: underline;
}

#card-grid .card {
    height: 24rem;
}

@media only screen and (min-width: 1200px) {
    #card-grid .card {
        height: 30rem;
    }
}

@media only screen and (min-width: 992px) {
    #card-grid .card {
        height: 25.5rem;
    }
}

@media only screen and (min-width: 600px) {
    #card-grid .card {
        height: 29.5rem;
    }
}

@media only screen and (max-width: 600px) {
    #card-grid .card {
        height: 32.5rem;
    }
}