#cart {
    display: flex;
    align-items: center;
    justify-content: center;
  }

#cart > div {
    position: absolute;
    background-color: #ffd600;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    z-index: 1;
    transition: 0.2s ease-in-out;
}

#cart > div.active {
    width: 80px;
    height: 80px;
}

.brand-logo {
    margin-left: 1rem;
}


.wave-container {
    background: #FFF;
}
  
.wave-container > svg {
    display: block;
    position: fixed;
    top: 64px;
}

@media only screen and (max-width: 600px) {
    .wave-container > svg {
        top: 54px;
    }
}